@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ed254e;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
}

main{
    background-color: white;
    width: 50vw;
    max-height: 90vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

#toDo {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 3px;
    width: 50%;
    margin-bottom: 20px;
    font-size: 1.2em;
    outline: none;
    text-align: center;
}


input[type="submit"] {
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.1em;
    background-color: #f9dc5c;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

input[type="submit"]:last-child {
    margin-right: 0;
}

.toDo-itens{
    padding: 20px;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 50vh;
}

input[type="checkbox"]{
    margin-right: 5px;
}

@media screen and (max-width: 780px) {
    input[type="submit"] {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    /* input[type="submit"] {
        width: 50px;
        background-color: blue;
    } */

    #toDo{
        width: 80%;
        font-size: 1em;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    main{
        width: 80%;
    }
}

@media screen and (max-width: 480px){
    main{
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    #toDo {
        width: 100%;
        font-size: 0.9em;
    }

}